Hallo <%= firstname %> <%= name %>,
<br/><br/>
vielen Dank, dass wir dich kennenlernen durften.
<br/><br/>
Wir hoffen, dass du viele neue Eindrücke sammeln konntest und dich für ein Duales Studium bei Cofinpro interessierst.
<br/><br/>
Wir würden uns über die Zusendung deiner digitalen Bewerbungsunterlagen (Zeugnisse etc.) freuen, wenn wir dir denn als Unternehmen zusagen 😊
<br/><br/>
Im Anhang befindet sich unsere Unternehmenspräsentation sowie unser Karrierefolder. Zudem findest du hier unsere Stellenausschreibung für unseren Praktikanten/Werkstudenten <a href="https://cofinpro.de/karriere/stellenmarkt/praktikant/">https://cofinpro.de/karriere/stellenmarkt/praktikant/</a>
<br/><br/>
Ich wünsche dir noch einen schönen Tag.<br/>
Herzliche Grüße aus Frankfurt am Main,<br/>
i. A. Constanze Thomas<br/>
<small>Human Resources - Corporate Services</small>
<br/><br/>
<small>
Cofinpro AG<br/>
Untermainkai 27 - 28<br/> 
60329 Frankfurt am Main <br/>
Mobil: +49 151 15010805<br/>
Fax: <br/>
Mail: <a href="mailto: constanze.thomas@cofinpro.de">Constanze.Thomas@cofinpro.de</a><br/>
Web: <a href="http://www.cofinpro.de">www.cofinpro.de</a>
<br/><br/>
Vorsitzender des Aufsichtsrates: Markus Bohner<br/>
Vorstand: Gerald Prior (Vorsitzender), Christine Naber <br/>
Sitz in Frankfurt, HRB 102930, Amtsgericht Frankfurt am Main
<br/><br/>
Diese E-Mail ist nur für den Empfänger bestimmt, an den sie gerichtet ist und kann vertrauliches bzw. unter das Berufsgeheimnis fallendes Material enthalten. Jegliche darin enthaltene Ansicht oder Meinungsäußerung ist die des Autors und stellt nicht notwendigerweise die Ansicht oder Meinung der Cofinpro AG dar. Sind Sie nicht der Empfänger, so haben Sie diese E-Mail irrtümlich erhalten, und jegliche Verwendung, Veröffentlichung, Weiterleitung, Abschrift oder jeglicher Druck dieser E-Mail ist strengstens untersagt. Weder die Cofinpro AG noch der Absender übernehmen die Haftung für Viren; es obliegt Ihrer Verantwortung, die E-Mail und deren Anhänge auf Viren zu prüfen.
</small>